.toast {
  visibility: hidden;
  opacity: 0;
  min-width: 350px;
  background-color: #00BFA5;
  color: #fff;
  border-radius: 4px;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  transition: opacity .5s, visibility .5s;

  display: flex;
  align-items: center;

  box-shadow: 2px 4px 6px rgba(29, 31, 42, 0.3);
}

.text-box {
  margin-left: 1rem;
}

.text-box > p{
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}